<ion-content [fullscreen]="true">
    <div class="header">
        <img alt="logo" src="assets/icon/logo.png" width="80%">
        <p class="subtitle">Ingrese sus credenciales</p>
    </div>
    <form [formGroup]="loginForm" novalidate>
        <div class="ion-padding">
            <ion-item>
                <ion-input placeholder="Correo" formControlName="email" class="input" />
                <ion-icon name="mail"></ion-icon>
            </ion-item>
            <ion-note *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid" color="danger">
                <small *ngIf="loginForm.get('email')?.errors?.['required']">El correo es obligatorio.</small>
                <small *ngIf="loginForm.get('email')?.errors?.['email']">El formato de correo no es válido.</small>
            </ion-note>

            <ion-item>
                <ion-input type="password" placeholder="Contraseña" formControlName="password" class="input" />
                <ion-icon name="lock-closed-outline"></ion-icon>
            </ion-item>
            <ion-note *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid" color="danger">
                <small *ngIf="loginForm.get('password')?.errors?.['required']">La contraseña es obligatoria.</small>
            </ion-note>

            <ion-button type="submit" expand="block" color="primary" (click)="login()">ENTRAR</ion-button>
        </div>
    </form>
</ion-content>

<ion-footer class="ion-text-center">
    <ion-toolbar>
        <small>Versión: {{ app_version }}</small>
    </ion-toolbar>
</ion-footer>